<h1>Public PDF Gallery</h1>
<%= render "partials/search_form"%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Pdf</th>
      <th>Uploaded by</th>
      <th></th>
      <th></th>
    </tr>
  </thead>